@import '~antd/dist/antd.css';


.logo {
  float: left;
  width: 200px;
  height: 50px;
  margin: 6px 0px 0px 0px;
  background-image: url("/Kia_Logo_B_200.png");
  background-repeat: no-repeat;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
  
  .site-layout .site-layout-background {
    background: #fff;
    height: auto;
  }

  .ant-divider{
    background-color: #bc162c;
  }

  .ant-divider-with-text{
    background-color:transparent;
  }

  .ant-layout-header {
    height: 64px;
    padding: 0 50px;
    color: #f8f9fa;
    line-height: 64px;
    background: #f8f9fa;
}